.inline-block {
  display: inline-block;
}

.cv {
  box-sizing: border-box;
  border-right: 3px solid black;
  width: 50%;
  padding: 20px;
}

img {
  width: 100%;
}

.text-section {
  width: 70%;
}

.avatar-section {
  width: 30%;
}
