* {
  color: orange;
}

.header-class {
  color: brown;
  font-family: sans-serif !important;
  font-weight: 900;
  border: 1px solid black;
  padding-left: 10%;
}

#header {
  font-family: serif;
}

nav {
  font-family: serif;
}

a {
  color: aquamarine;
}

html {
  /* Цвет фона */
  background-color: rgb(129, 129, 129);
}

article {
  color: blueviolet;
  font-size: 32px;
  /* font-style: italic; */
}

.world-news {
  color: cornflowerblue;
}

#breaking-news {
  color: darkmagenta;
}
