* {
  box-sizing: border-box;
}

.btn-link {
  padding: 0;
  border: none;
}

.link {
  display: inline-block;
  padding: 10px 20px;

  border: 3px ridge green;
  border-radius: 5px;
  outline: red 5px groove;
  
  text-decoration: none;
  text-transform: capitalize;

  color: black;
  background-color: grey;
}

.parag {
  /* text-align: center; */
  text-indent: 20px;
}
